/* Background pattern from subtlepatterns.com */

body {
		padding-top: 60px;
		font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    background: url('./images/grid.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', Georgia, serif;
    text-shadow: .5px .5px .5px #aaa;
}

p, ul {
	font-size: 1.2em;
}

.logo, h1, h2, h3, h4 {
	color: #096E66;
}

.logo {
  font-family: 'Abril Fatface', Georgia, serif;
  font-size: 2em;
  text-shadow: 1.8px 1.8px 1.8px #04110F;
  text-decoration: none !important;
}

.nav-link {
	font-family: 'Abril Fatface', Georgia, serif;
	font-size: 1.2em;
}

li {
	font-size: 1em;
}

.intro {
	padding-bottom: 10px;
	text-align: center;
}

.row {
	padding-bottom: 10px;
}

.photo {
	-webkit-box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
	-moz-box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
	box-shadow: 9px 7px 22px -7px rgba(147,153,150,0.62);
}

.new-section {
	padding-top: 20px;
}
