<div>

	<header>
	  <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-header">
	      <div class="navbar-brand"><a href="/home" class="logo">Lorien Smyer</a></div>
	    </div>
	      <ul class="nav navbar-nav">
	        <li><a href="/about" class="nav-link">About</a></li>
	        <li><a href="/projects" class="nav-link">Projects</a></li>
	        <li><a href="/experience" class="nav-link">Experience</a></li>
	        <li><a href="/contact" class="nav-link">Contact</a></li>
	      </ul>
	  </nav>
	</header>

	<div class="container">
		<div class="row">

			<div class="col-md-1"></div>

			<div class="col-md-10">
				<h1>About Lorien Smyer's Portfolio Website</h1>
				<p>A couple of my project's buttons were styled using <a href="http://charliepark.org/bootstrap_buttons/" target="_blank">Beautiful Buttons for
		Twitter Bootstrappers</a>.</p>
				<p>My project's cool background came from <a href="http://subtlepatterns.com/solid/" target="_blank">Subtle Patterns</a>.</p>
				<p>Thanks for visiting!</p>
			</div>

			<div class="col-md-1"></div>
		</div>
	</div>
</div>

