<div>

	<header>
	  <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-header">
	      <div class="navbar-brand"><a href="/home" class="logo">Lorien Smyer</a></div>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="/projects" class="nav-link">Projects</a></li>
	      <li><a href="/experience" class="nav-link">Experience</a></li>
	      <li><a href="/contact" class="nav-link">Contact</a></li>
	    </ul>
	  </nav>
	</header>

	<div class="container">

		<div class="row">

			<div class="col-md-1"></div>

			<div class="col-md-10">

				<div class="row intro-center">
					<h1>Contact Lorien</h1>
				</div>

				<div class="row">
					<div class="col-md-8">

						<div class="row">
							<div class="col-md-1">
								<div class="icon">
									<a href="https://github.com/LorienMCS" target="_blank">
										<img ng-src="images/GitHub-Mark.png" width="48" height="48" alt="GitHub icon"/>
									</a>
								</div>
							</div>
							<div class="col-md-11">
								<h2>Find me on <a href="https://github.com/LorienMCS" target="_blank">GitHub</a></h2>
							</div>
						</div>

						<div class="row">
							<div class="col-md-1">
								<div class="icon">
									<a href="https://twitter.com/LorienMCS" target="_blank">
										<img class="contact-icon" ng-src="images/TwitterLogo.png" width="64" height="64" alt="Twitter icon"/>
									</a>
								</div>
							</div>
							<div class="col-md-11">
								<h2>Find me on <a href="https://twitter.com/LorienMCS" target="_blank">Twitter</a></h2>
							</div>
						</div>

						<div class="row">
							<div class="col-md-1">
								<div class="icon">
									<a href="https://medium.com/@LorienMCS" target="_blank">
										<img class="contact-icon" ng-src="images/medium-m-color-100px.png" width="64" height="64" alt="Medium icon"/>
									</a>
								</div>
							</div>
							<div class="col-md-11">
								<h2>Find me on <a href="https://medium.com/@LorienMCS" target="_blank">Medium</a></h2>
							</div>
						</div>

						<!-- glyphicon from http://glyphicons.com/ -->
						<div class="row">
							<div class="col-md-1">
								<div class="icon">
									<h1><span class="glyphicon glyphicon-envelope">
									</span></h1>
								</div>
							</div>
							<div class="col-md-11">
								<h2>Email me at lorienmcs (at) gmail.com</h2>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<img class="img-rounded img-responsive photo" ng-src="images/lorien_3.jpg" width="300" height="195" alt="Lorien Smyer"/>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="col-md-1"></div>

</div>
