<div>

	<header>
	  <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-header">
	      <div class="navbar-brand"><a href="/home" class="logo">Lorien Smyer</a></div>
	    </div>
	      <ul class="nav navbar-nav">
	        <li><a href="/projects" class="nav-link">Projects</a></li>
	        <li><a href="/experience" class="nav-link">Experience</a></li>
	        <li><a href="/contact" class="nav-link">Contact</a></li>
	      </ul>
	  </nav>
	</header>

	<div class="container">
		<div class="row intro">

			<div class="col-md-1"></div>

			<div class="col-md-10">

				<div class="row intro-center">
					<h1>Experience</h1>
					<h3>My resume is also available in PDF format <a href="images/lorien_smyer_resume.pdf" target="_blank">here</a>.</h3>
				</div>
				<div class="row">
					<img class="img-responsive center-block photo" ng-src="images/ls_resume_1-1.png" alt="Lorien's resume page one"/>
				</div>
				<div class="row">
					<img class="img-responsive center-block photo" ng-src="images/ls_resume_1-2.png" alt="Lorien's resume page two"/>
				</div>

			</div>

			<div class="col-md-1"></div>

		</div>
	</div>

</div>

