<div>

	<header>
	  <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-header">
	      <div class="navbar-brand"><a href="/home" class="logo">Lorien Smyer</a></div>
	    </div>
	      <ul class="nav navbar-nav">
	        <li><a href="/about" class="nav-link">About</a></li>
	        <li><a href="/projects" class="nav-link">Projects</a></li>
	        <li><a href="/experience" class="nav-link">Experience</a></li>
	        <li><a href="/contact" class="nav-link">Contact</a></li>
	      </ul>
	  </nav>
	</header>

	<div class="container">

			<div class="col-md-12 new-section">

				<div class="row">
					<div class="col-md-1"></div>

					<div class="col-md-10">

						<div class="row intro-center">
							<h1>Hello, I'm Lorien Smyer</h1>
						</div>

						<div class="row">
							<div class="col-md-8">
								<h2>Welcome to my portfolio website.</h2>
								<h3>I am a recent graduate of the five and a half month, 70 hour per week <a href="http://www.galvanize.com/courses/full-stack/" target="_blank">Galvanize</a> Full Stack Web Development program.</h3>
							</div>
							<div class="col-md-4">
								<img class="img-circle photo" ng-src="images/lorien_1.jpg" width="200" height="200" alt="Lorien Smyer"/>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<img class="img-rounded photo" ng-src="images/lorien_5.png" width="250" height="350" alt="Lorien Smyer"/>
							</div>
							<div class="col-md-8">
								<h3>Prior to that I was a bookkeeper and Internet researcher, and took classes in computer science and multimedia at the <a href="http://web.peralta.edu/" target="_blank">Peralta Colleges</a>.</h3>
								<h3>I love to code, and I have a passion for learning. When not programming, I can be found trying new recipes, riding trains, hiking the trails of Lake Tahoe and Yosemite, and amusing and being amused by cats.</h3>
							</div>
						</div>

					</div>

					<div class="col-md-1"></div>
				</div>
			</div>


			<div class="clearfix"></div>



	</div>

</div>
