<div>

	<header>
	  <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-header">
	      <div class="navbar-brand"><a href="/home" class="logo">Lorien Smyer</a></div>
	    </div>
	      <ul class="nav navbar-nav">
	        <li><a href="/projects" class="nav-link">Projects</a></li>
	        <li><a href="/experience" class="nav-link">Experience</a></li>
	        <li><a href="/contact" class="nav-link">Contact</a></li>
	      </ul>
	  </nav>
	</header>

	<div class="container">
		<div class="row">

			<div class="col-md-1"></div>

			<div class="col-md-10">

				<div class="row intro-center">
					<h1>Projects</h1>
				</div>

				<div class="row">
					<div class="col-md-5">
						<h2>You-ish</h2>
						<h4>Capstone project for the Full Stack Program at <a href="http://www.galvanize.com/courses/full-stack/" target="_blank">Galvanize</a>. Users can enter their first name and month and day of birth, and are shown interesting data related to their input. Built using Angular, Bootstrap, Javascript, and multiple APIs.</h4>
						<h4>Project <a href="http://youish.herokuapp.com" target="_blank">Demo</a> and <a href="https://github.com/LorienMCS/You-ish" target="_blank">Code</a></h4>
					</div>
					<div class="col-md-7">
						<img class="img-rounded photo" ng-src="images/you-ish.png" width="565" height="280" alt="You-ish website"/>
					</div>
				</div>

				<div class="row">
					<div class="col-md-7">
						<img class="img-rounded photo" ng-src="images/shopping.png" width="615" height="300" alt="Lorien Smyer"/>
					</div>
					<div class="col-md-5">
						<h2>Angular Shopping Cart App</h2>
						<h3>Project for the 18th week of the Full Stack Program at Galvanize; built using Angular, Bootstrap, and JavaScript.</h3>
					</div>
				</div>

			</div>

			<div class="col-md-1"></div>
		</div>
	</div>
</div>

